.education-modal-close {
    border: 0;
    background: white;

}

.education-modal-close svg {
    width:
        40px;
    height: auto;
}


.education-modal-col-2 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
}

.education-modal-input-group .react-datepicker-wrapper input {
    /* position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc; */
    margin-top: 20px;
}

@media (max-width: 767px) {
    .education-modal-col-2 {
        width: 100%;
    }
}




/* ==========================================================================
     #FORM
     ========================================================================== */
.education-modal-page-wrapper input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;

}

.education-modal-input-group {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
    margin: 30px 20px;
}


.education-modal-education {
    margin-bottom: 37px;
}

.education-modal-description-input {
    position: relative;
    margin: 0 20px;
    padding: 5px 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
    border: 2px solid #ccc;
    height: 200px;
}

.education-modal-period-container,
.education-modal-location-container {
    display: flex;
}

@media (max-width: 767px) {

    .education-modal-location-container {
        display: flex;
        flex-direction: column;
    }

    .education-modal-location-container div {
        /* flex-direction: row; */
    }
}