.employment-modal-close {
    border: 0;
    background: white;

}

.employment-modal-close svg {
    width:
        40px;
    height: auto;
}


.employment-modal-col-2 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
    .employment-modal-col-2 {
        width: 100%;
    }
}




/* ==========================================================================
     #FORM
     ========================================================================== */
.employment-modal-page-wrapper input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;

}

.employment-modal-input-group {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
    margin: 30px 20px;
}


.employment-modal-employment {
    margin-bottom: 37px;
}

.employment-modal-description-input {
    position: relative;
    margin: 0 20px;
    padding: 5px 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
    border: 2px solid #ccc;
    height: 200px;
}

.employment-modal-period-container,
.employment-modal-location-container {
    display: flex;
}

.employment-modal-input-group select {
    border: 0;
    /* border-bottom: 2px solid #ccc; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.employment-modal-input-group select:focus-visible {
    outline: white;
}

.employment-modal-location-country select {
    width: 100%;
    background: white;
}

.employment-modal-location-container .employment-modal-input-group {
    display: flex;
}

.employment-modal-input-group textarea {
    outline: none;
    margin: 0;
    border: none;
    border: 2px solid #ccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: inherit;
}

.employment-textarea-container {
    width: 100%;
}