.body{
    overflow: hidden;
}
nav{
    margin-top:6px;
    height:70px;
}
.navbar .container{
    margin-top: -12px;
    margin-right: 18px;
    margin-left: 30px;
    
}
.navbar .collapse{
    padding-left: 34px;
    padding-top: 20px;
    padding-bottom: 43px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 24px;
}
.show{
    background-color: white;
}
.navbar-toggle{
    margin-right: 25px;
}
.collapse a:hover{
    text-decoration: underline;
}
.content{
    display:flex;
    width:100%;
    background-image: linear-gradient( rgb(10, 66, 135), rgb(74, 120, 234));
    color:white;
    padding: 0 29px;
}
.banner_content{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left:177px;
}
.banner_content h1{
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 40px;
    font-family: Poppins;
    word-wrap: break-word;
    line-height: 1.2;
    margin-top: -66px;
}
.banner_content p{
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 0;
    font-weight: 300;
    font-family: Rubik;
    font-style: normal;
    margin-top:-10px;
    color:white;
}
.landingillustration{
    width:50%;
}
.landingillustration img{
    width: 83%;
    padding: 69px;
    padding-top: 139px;
    padding-left: 0px;
}
.cardmodifytext{
    text-align: center;
}
.cardmodify{
    border:none;
    display: flex;
}
.card-body h3{
    text-align: center;
}
.cardbodymodify img{
    width: 53%;
}
.providecont{
    height: 52vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 116px;
}
.providecont h1{
    text-align: center;
    margin-bottom: -40px;
    margin-top: 39px;
    font-weight: 700;
    font-family: 'Poppins Bold';
}
.populartext{
    text-align: center;
    margin-bottom: 62px;
    margin-top: 69px;
}
.populartext h1{
    font-weight: 700;
    font-family: 'Poppins Bold';
    margin-bottom:30px;
}
.profilecont img{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin-top: -30px;
    padding: 5px;
    background-color: white;
}
.profilecont{
    margin-left:20px;
}
.profilecont p{
    margin-top: -7px;
}
.profile h5{
    margin-top: 12px;
    font-family: rubik;
    font-weight: 700;
}
.poptitle{
    margin-left: 23px;
    font-size: 23px;
    font-family: 'Poppins Bold';
    margin-right: 23px;
}
.popular{
    background-color: aliceblue;
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px; 
    padding-bottom: 100px;  
}
.popularcardmodify{
    border-radius: 16px;
}
.popularcardbody{
    padding: 0 !important;;
    border-radius: 10px;
    margin-left:0px !important;
}
.service{
    display:flex;
    justify-content: space-around;
}
.service p{
    color:rgb(97, 97, 97)
}
.blogcardmodify{
    border: none;
}
.latestblogcont{
    width:100%;
}
.latestblogcont img{
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all .5s ease-in;
    cursor: pointer;
}
.latestblogcont img:hover{
    width:110%;
    margin-left:-5%;
}
.latestblogimgcont{
    width:100%;
    height: 210px;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.latestblogprofile{
    display:flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 16px;
}
.latestblogprofile img{
    width:60px;
    height:60px;
    border-radius: 50%;
}
.latestblogdesc{
    padding: 0 16px;
    padding-bottom: 52px;
}
.blogpopularcardbody{
    border:none;
}
.latestblogmaincont{
    padding: 0;
    box-shadow: 5px 5px 33px #dcdcdc;
    border-radius: 12px;
}

.latestblog{
    background-color: white;
}
.latestblog .card-body img{
    height: auto;
    border-radius: 20px;
}
.latestblogprofile{
    display:flex;
    margin-left: 24px;
}
.latestblogprofile img{
    margin-right:14px;
    width: 40px;
    height:40px;
}
.latestblogprofile p{
    font-family: Poppins;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    padding-right: 10px;
    margin-top:19px;
}
.latestblogprofile p span{
    color: #6787FE;
}
.latestblogdesc h5{
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    font-family: Poppins;
    font-style: normal;
}
.latestblogdesc:hover{
    color:rgb(96, 96, 154);
    
}
.latestblogdesc h5:hover img{
    width:110%;
    margin-left:-5%;
}


.service p:nth-child(2) {
    background-color: rgb(237, 237, 237);  
    padding:2px 13px;
    border-radius:15px;  
    color:blue;
    font-size: 20px;
}
hr{
    margin-top: 30px;
    margin-bottom: 21px;
    padding-right: 5px;
    padding-left: 5px;
}
.popularcardbody>img{
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.maincont{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardbodymodify{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardview{
    display: flex;
    width: 80%;
    background-color: rgb(214, 232, 237);
    height: 400px;
    margin-top: 157px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 59px;
    padding-right: 20px;
    margin-bottom:100px;
}
.cardmodify{
    border: none !important;;
}
.cardviewtext{
    width:60%;
    padding-right: 54px;
}
.cardviewtext h1{
    font-family: 'Poppins Bold';
    font-weight: 700;
}
.cardviewillustration{
    width:34%;
}
.cardviewillustration img{
    width:100%
}

.grayscaleimgs img{
    filter: grayscale(100%);
    transition: all .3s ease-in;
    cursor: pointer;
    width: 100%;
}
.grayscaleimgs img:hover{
    filter: grayscale(4%)
}
.grayscaleimgs{
    display:flex;
    width:100%;
    padding-left:20px;
    padding-right:20px;
}
.grayimgcont{
    width:100%;
    justify-content: center;
    overflow-x: hidden;
}
footer hr{
    width:80vw;
}
footer{
    width: 90vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
    font-family: 'poppins Bold';
}
@media (max-width: 1200px){
    .landingillustration{
        display:none;
    }
    .banner_content{
        width: 100%;
        margin-top: 275px;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-bottom: 129px;
        text-align: center;
    }
    .providecont{
        height:auto;
    }
    .providecont h1{
        margin-bottom:64px;
    }
    .bottomresponsive{
        width:100%;
        margin-bottom: 90px;
    }
}

@media (max-width:770px){
    .cardview{
        flex-direction: column-reverse;
        height:auto;
        padding-top:20px;
        padding-bottom:40px;
        width:92%;
    }
    .cardviewtext{
        width:80%;
        text-align: center;
        margin-top:50px;
    }
}

@media (min-width:573px){
    .populartext{
        width: 573px;
    }
}
@media (max-width:573px){
    .popular{
        padding-left:14px;
        padding-right:14px;
    }
    .cardviewtext {
        width: 113%;
    }
}


