.inappropriate-modal-close {
    border: 0;
    background: white;

}

.inappropriate-modal-close svg {
    width:
        40px;
    height: auto;
}


.inappropriate-modal-col-2 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
    .inappropriate-modal-col-2 {
        width: 100%;
    }
}




/* ==========================================================================
     #FORM
     ========================================================================== */
.inappropriate-modal-page-wrapper .inappropriate-modal-input-group input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;

}

.inappropriate-modal-page-wrapper textarea {

    margin: 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;

}

.inappropriate-modal-input-group {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
    margin: 30px 20px;
}


.inappropriate-modal-inappropriate {
    margin-bottom: 37px;
}

.inappropriate-modal-description-input {
    position: relative;
    margin: 0 20px;
    padding: 5px 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
    border: 2px solid #ccc;
    height: 200px;
}

.inappropriate-modal-period-container,
.inappropriate-modal-location-container {
    display: flex;
}

.inappropriate-modal-period-container .inappropriate-modal-input-group {
    margin-top: 0;
}

.inappropriate-modal-description {
    margin-top: 20px;
}