.language-modal-close {
    border: 0;
    background: white;

}

.language-modal-close svg {
    width:
        40px;
    height: auto;
}


.language-modal-col-2 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
}

.language-modal-existing-input-group ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1;
    /* Firefox */
}

.language-modal-existing-input-group :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

.language-modal-existing-input-group ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}

@media (max-width: 767px) {
    .language-modal-col-2 {
        width: 100%;
    }
}




/* ==========================================================================
     #FORM
     ========================================================================== */
.language-modal-page-wrapper input,
.language-modal-page-wrapper select {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;

}

.language-modal-input-group {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
    margin: 30px 20px;
}


.language-modal-language {
    margin-bottom: 37px;
}

.language-modal-description-input {
    position: relative;
    margin: 0 20px;
    padding: 5px 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
    border: 2px solid #ccc;
    height: 200px;
}

.language-modal-period-container,
.language-modal-location-container {
    display: flex;
}

.language-modal-existing-group-container {}

.language-modal-existing-input-group {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}


.language-edit-btn {
    background: #6787FE;
    color: white;
    padding: 0px 6px;
    border: 2px solid #6787FE;
    border-radius: 10rem;
}