.name-modal-close {
    border: 0;
    background: white;

}

.name-modal-close svg {
    width:
        40px;
    height: auto;
}


.name-modal-col-2 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
    .name-modal-col-2 {
        width: 100%;
    }
}




/* ==========================================================================
     #FORM
     ========================================================================== */
.name-modal-page-wrapper input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;

}

.name-modal-input-group {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
    margin: 30px 20px;
}


.name-modal-title {
    margin-bottom: 37px;
}

/* start of country dropdown css */

.name-modal-dropdown select {
    border: 0;
    border-bottom: 2px solid #ccc;
    margin-top: 10px;

    margin-bottom: 10px;
}

.name-modal-dropdown select:focus-visible {
    outline: white;

}

.name-modal-dropdown {
    margin-left: 20px;
}


/* end of country dropdown css */